<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet"/>
</head>
<body>
<footer id="footer" class="text-center text-lg-start bg-light text-muted">
    <div id="copyright-div" class="text-center p-4">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://github.com/knurff" target="_blank">knurff</a>
    </div>
</footer>
</body>
</html>